<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @friend.first_name  + ' ' + @friend.last_name %></h1>
    <p class="card-text">
      <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
    </p>
    <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %>
    <%= link_to "Back", friends_path, class:"btn btn-dark" %>
    <br/>
    <br/>
    <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
